In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./database/eleclog_copy.db

'Connected: @./database/eleclog_copy.db'

In [8]:
%%sql 
SELECT non_anm_generated, COUNT(*) count 
FROM readings 
GROUP BY non_anm_generated 
order by count desc
limit 10

 * sqlite:///./database/eleclog_copy.db
Done.

[(1.614, 29223),
 (0, 1421),
 (0.361, 244),
 (0.256, 204),
 (0.293, 188),
 (0.25, 178),
 (0.34, 165),
 (0.24, 164),
 (0.33, 159),
 (0.359, 155)]

In [18]:
%%sql
SELECT min(timestamp), max(timestamp) from readings
where non_anm_generated = 1.614 and substr(timestamp, 7, 1) = '5'

 * sqlite:///./database/eleclog_copy.db
Done.

[('2019-05-07 07:58:06', '2019-05-31 23:59:05')]

In [20]:
%%sql
SELECT min(timestamp), max(timestamp) from readings
where non_anm_generated = 1.614 and substr(timestamp, 6, 5) > '04-31' and substr(timestamp, 6, 5) < '06-14'

 * sqlite:///./database/eleclog_copy.db
Done.

[('2019-05-07 07:58:06', '2019-06-09 12:49:05')]

In [5]:
%%sql 
SELECT anm_generated, COUNT(*) count 
FROM readings 
GROUP BY anm_generated 
order by count desc
limit 10

 * sqlite:///./database/eleclog_copy.db
Done.

[(1.629, 18526),
 (0, 3465),
 (8.655, 2684),
 (1.331, 1267),
 (0.988, 1258),
 (1.330999, 490),
 (1.330998, 367),
 (1.331001, 183),
 (14.48, 154),
 (13.613, 152)]

check fo odd demand readings

In [6]:
%%sql 
SELECT demand, COUNT(*) count 
FROM readings 
WHERE demand > 30
GROUP BY demand 
order by demand desc
limit 20

 * sqlite:///./database/eleclog_copy.db
Done.

[(39.69, 1),
 (32.38, 1),
 (32.26, 1),
 (32.23, 1),
 (32.2, 1),
 (32.19, 1),
 (32.09, 1),
 (32, 1),
 (31.9, 1),
 (31.79, 1),
 (31.76, 2),
 (31.73, 1),
 (31.61, 1),
 (31.59, 1),
 (31.54, 1),
 (31.47, 2),
 (31.43, 1),
 (31.34, 1),
 (31.21, 1),
 (31.2, 2)]