# Aquire and store historical weather data for Kirkwall Airport from WeatherHQ

https://www.weatherhq.co.uk/weather-station/kirkwall-airport

https://www.vackertvader.se/v%C3%A4derstation/kirkwall-airport

http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start=1517734899000&end=1549275655000

stationid kirkwall airport - 3017

2999	
```
0	1549273800000 - timestamp*1000
1	4 - temperature degrees celcius
2	null
3	1002 - pressure mbar
4	3.6 wind speed - m/s
5	null
6	93 - humidity %
7	280 - winddirection degrees
8	null
9	10000 - visibility m
10	37.5 - cloud cover %
11	1036 - cloud height m
```

In [1]:
from datetime import datetime, date, time
t = datetime(2005, 7, 14, 12, 30)
t.isoformat()

'2005-07-14T12:30:00'

In [2]:
from datetime import datetime
import calendar

d = datetime.utcnow()
unixtime = calendar.timegm(d.utctimetuple())
print (unixtime, d)

1572894133 2019-11-04 19:02:13.064409

In [3]:
def unixtime(d):
    return calendar.timegm(d.utctimetuple())

startdate = datetime(2019,1, 16, 12, 0)
enddate = datetime.utcnow()
print(unixtime(startdate))
print(unixtime(enddate))

1547640000
1572894133

In [4]:
print(str(1000*unixtime(startdate)))

1547640000000

In [5]:
print('http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start='+str(1000*unixtime(startdate))+'&end='+str(1000*unixtime(enddate)))

http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start=1547640000000&end=1572894133000

In [6]:
#!/usr/bin/env python3
# this retuen http erro 403forbidden 
# according to https://stackoverflow.com/questions/16627227/http-error-403-in-python-3-web-scraping
# This is probably because of mod_security or some similar server security feature which blocks known spider/bot user agents (urllib uses something like python urllib/3.3.0, it's easily detected). Try setting a known browser user agent with:

import urllib
import json

startdate =datetime(2019, 1, 14, 23, 59, 59)
enddate =datetime.now()
URL = 'http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start='+str(1000*unixtime(startdate))+'&end='+str(1000*unixtime(enddate))

print(URL)

url = urllib.request.urlopen(URL)
page = url.read()
#data = json.load(page)
print(page)       
#import urllib2
#response = urllib2.urlopen('https://api.instagram.com/v1/tags/pizza/media/XXXXXX')
#html=response.read()
#print html

http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start=1547510399000&end=1572894133000

HTTPError: HTTP Error 403: Forbidden

In [7]:
from urllib.request import Request, urlopen

req = Request('http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start='+str(1000*unixtime(startdate))+'&end='+str(1000*unixtime(enddate)), headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
data = json.loads(webpage)

data returned is not the range requested.  
posiibly limited to 3000 records

In [68]:
data['data'][0]

[1561314000000, 12.0, None, 1024.0, 4.6, None, 93, 110, None, 1400, 100.0, 30]

In [72]:
data['data'][-1]

[1572886800000, 8.0, None, 997.3, 8.7, None, 69, 50, None, 45000, 87.5, None]

In [87]:
print ('from: ', data['from'], 'to: ',data['to'])
print ('from: ', datetime.fromtimestamp(data['from']/1000, tz=None), 'to: ',datetime.fromtimestamp(data['to']/1000, tz=None))
dt = datetime.fromtimestamp(data['to']/1000, tz=None)-datetime.fromtimestamp(data['from']/1000)
print ('range', dt.days)

returned_start= int(data['data'][0][0])//1000 
returned_end= data['data'][-1][0]//1000 

print(type(returned_end))
print ('from: ', datetime.fromtimestamp(returned_start, tz=None), 'to: ',datetime.fromtimestamp(returned_end, tz=None))
dt = datetime.fromtimestamp(returned_end, tz=None)-datetime.fromtimestamp(returned_start)
print ('range', dt.days)

from:  1546646399000 to:  1573758133000
from:  2019-01-04 23:59:59 to:  2019-11-14 19:02:13
range 313
<class 'int'>
from:  2019-06-23 19:20:00 to:  2019-11-04 17:00:00
range 133

In [93]:
startdate = datetime(2019,1, 16, 12, 0)
enddate = datetime(2019,6,16,12,0)

req = Request('http://archive.vackertvader.se/archive/epoch_observations?station_id=3017&start='+str(1000*unixtime(startdate))+'&end='+str(1000*unixtime(enddate)), headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
data = json.loads(webpage)

In [94]:
print ('from: ', data['from'], 'to: ',data['to'])
print ('from: ', datetime.fromtimestamp(data['from']/1000, tz=None), 'to: ',datetime.fromtimestamp(data['to']/1000, tz=None))
dt = datetime.fromtimestamp(data['to']/1000, tz=None)-datetime.fromtimestamp(data['from']/1000)
print ('range', dt.days)

returned_start= int(data['data'][0][0])//1000 
returned_end= data['data'][-1][0]//1000 

print(type(returned_end))
print ('from: ', datetime.fromtimestamp(returned_start, tz=None), 'to: ',datetime.fromtimestamp(returned_end, tz=None))
dt = datetime.fromtimestamp(returned_end, tz=None)-datetime.fromtimestamp(returned_start)
print ('range', dt.days)

from:  1546776000000 to:  1561550400000
from:  2019-01-06 12:00:00 to:  2019-06-26 13:00:00
range 171
<class 'int'>
from:  2019-04-30 17:00:00 to:  2019-06-26 12:50:00
range 56

In [99]:
print (type(data['data']))
print (len(data['data']))

<class 'list'>
3000

In [ ]:
maximumm lentgh of records 3000

In [9]:
import pandas as pd

df = pd.DataFrame.from_records(data['data'])

In [49]:
df.head()

,timestamp,Temp,Pressure,WindSpeed,Humidity,WindDirection,Visibility,CloudCover,CloudHeight
0,1561314000,12.0,1024.0,4.6,93,110.0,1400.0,100.0,30.0
1,1561315800,12.0,1025.0,5.1,100,110.0,10000.0,75.0,61.0
2,1561316400,12.5,1021.6,5.7,92,100.0,18000.0,87.5,NaN
3,1561317600,13.0,1025.0,5.1,93,110.0,10000.0,100.0,152.0
4,1561320000,12.4,1021.9,4.6,92,100.0,15000.0,37.5,NaN

In [48]:
df.tail()

,timestamp,Temp,Pressure,WindSpeed,Humidity,WindDirection,Visibility,CloudCover,CloudHeight
2995,1572861600,8.1,993.1,NaN,92,NaN,23000.0,12.5,NaN
2996,1572865200,7.9,993.6,NaN,90,NaN,6000.0,75.0,NaN
2997,1572872400,8.7,994.8,NaN,78,NaN,45000.0,25.0,NaN
2998,1572883200,8.1,996.8,NaN,71,NaN,50000.0,75.0,NaN
2999,1572886800,8.0,997.3,8.7,69,50.0,45000.0,87.5,NaN

In [11]:
df.columns=['timestamp', 'Temp','na','Pressure','WindSpeed','na2','Humidity','WindDirection','na3','Visibility','CloudCover','CloudHeight']

In [12]:
df.head()

,timestamp,Temp,na,Pressure,WindSpeed,na2,Humidity,WindDirection,na3,Visibility,CloudCover,CloudHeight
0,1561314000000,12.0,None,1024.0,4.6,NaN,93,110.0,None,1400.0,100.0,30.0
1,1561315800000,12.0,None,1025.0,5.1,NaN,100,110.0,None,10000.0,75.0,61.0
2,1561316400000,12.5,None,1021.6,5.7,NaN,92,100.0,None,18000.0,87.5,NaN
3,1561317600000,13.0,None,1025.0,5.1,NaN,93,110.0,None,10000.0,100.0,152.0
4,1561320000000,12.4,None,1021.9,4.6,NaN,92,100.0,None,15000.0,37.5,NaN

In [13]:
df = df.drop(['na','na2','na3'], 1)

In [14]:
df.head()

,timestamp,Temp,Pressure,WindSpeed,Humidity,WindDirection,Visibility,CloudCover,CloudHeight
0,1561314000000,12.0,1024.0,4.6,93,110.0,1400.0,100.0,30.0
1,1561315800000,12.0,1025.0,5.1,100,110.0,10000.0,75.0,61.0
2,1561316400000,12.5,1021.6,5.7,92,100.0,18000.0,87.5,NaN
3,1561317600000,13.0,1025.0,5.1,93,110.0,10000.0,100.0,152.0
4,1561320000000,12.4,1021.9,4.6,92,100.0,15000.0,37.5,NaN

In [15]:
df.timestamp = df.timestamp//1000

In [16]:
df.head()

,timestamp,Temp,Pressure,WindSpeed,Humidity,WindDirection,Visibility,CloudCover,CloudHeight
0,1561314000,12.0,1024.0,4.6,93,110.0,1400.0,100.0,30.0
1,1561315800,12.0,1025.0,5.1,100,110.0,10000.0,75.0,61.0
2,1561316400,12.5,1021.6,5.7,92,100.0,18000.0,87.5,NaN
3,1561317600,13.0,1025.0,5.1,93,110.0,10000.0,100.0,152.0
4,1561320000,12.4,1021.9,4.6,92,100.0,15000.0,37.5,NaN

In [28]:
df.describe()

,timestamp,Temp,Pressure,WindSpeed,Humidity,WindDirection,Visibility,CloudCover,CloudHeight
count,3.000000e+03,3000.000000,3000.000000,2961.000000,3000.000000,2833.000000,2968.000000,2887.000000,1530.000000
mean,1.565150e+09,12.176233,1011.182933,5.535630,87.077667,209.488175,17191.677898,57.421198,635.633333
std,3.401647e+06,2.527409,10.597548,3.075368,9.125645,91.103091,15703.927048,34.768880,420.386296
min,1.561314e+09,2.000000,978.500000,0.000000,57.000000,10.000000,50.000000,0.000000,0.000000
25%,1.562421e+09,11.000000,1003.700000,3.600000,81.000000,140.000000,10000.000000,25.000000,274.000000
50%,1.563509e+09,12.000000,1011.300000,5.100000,87.000000,220.000000,10000.000000,75.000000,609.000000
75%,1.568243e+09,13.500000,1019.525000,7.200000,93.000000,280.000000,23000.000000,87.500000,944.000000
max,1.572887e+09,22.800000,1033.000000,19.000000,100.000000,360.000000,70000.000000,100.000000,1493.000000

In [17]:
%load_ext sql

In [22]:
%sql sqlite:///./database/vackerWeather.db

'Connected: @./database/vackerWeather.db'

In [24]:
%sql persist df

 * sqlite:///./database/vackerWeather.db

'Persisted df'

In [26]:
df.to_csv('./database/vackerWeather.csv')

In [28]:
df.describe()

,timestamp,Temp,Pressure,WindSpeed,Humidity,WindDirection,Visibility,CloudCover,CloudHeight
count,3.000000e+03,3000.000000,3000.000000,2961.000000,3000.000000,2833.000000,2968.000000,2887.000000,1530.000000
mean,1.565150e+09,12.176233,1011.182933,5.535630,87.077667,209.488175,17191.677898,57.421198,635.633333
std,3.401647e+06,2.527409,10.597548,3.075368,9.125645,91.103091,15703.927048,34.768880,420.386296
min,1.561314e+09,2.000000,978.500000,0.000000,57.000000,10.000000,50.000000,0.000000,0.000000
25%,1.562421e+09,11.000000,1003.700000,3.600000,81.000000,140.000000,10000.000000,25.000000,274.000000
50%,1.563509e+09,12.000000,1011.300000,5.100000,87.000000,220.000000,10000.000000,75.000000,609.000000
75%,1.568243e+09,13.500000,1019.525000,7.200000,93.000000,280.000000,23000.000000,87.500000,944.000000
max,1.572887e+09,22.800000,1033.000000,19.000000,100.000000,360.000000,70000.000000,100.000000,1493.000000

In [40]:
datetime.fromtimestamp(df['timestamp'][0], tz=None)

datetime.datetime(2019, 6, 23, 19, 20)

In [37]:
fromutc(datetime.utcfromtimestamp(timestamp).replace(tzinfo=tz))

NameError: name 'fromutc' is not defined